.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffe6f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
}

.App-link {
  color: #61dafb;
}

.fetch-button {
  cursor: pointer;
  padding: 16px 32px; /* ボタンを大きく */
  margin: 10px;
  font-size: 1.2em; /* ボタンのテキストサイズを大きく */
  border-radius: 5px;
  border: none;
  background-color: #ffcc00; /* 適切な背景色を指定 */
  color: #000; /* テキスト色 */
  transition: background-color 0.3s;
}

.fetch-button:hover {
  background-color: #ffaa00; /* ホバー時の背景色 */
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 0;
}
